@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* 
    Headings: 
    font-family: "Libre Baskerville", serif; 

    Body: 
    font-family: "Nunito Sans", sans-serif;

*/
:root {
    --charcoal: #333333;
    --warm-white: #F8F5F2;
    --blush-pink: #FFC1CC;
    /* could be used for something!  */
    /* --soft-blue: #A7C7E7; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

nav {
    background: linear-gradient(0deg, #A7C7E7 0%, rgba(196, 197, 222, 0.45) 0.01%, rgba(255, 193, 204, 0.9) 100%);
    height: 5em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
}

/* Styles for the navigation links "Home Menu Contact"*/
.nav-menu {
    display: flex;
    list-style: none;
    text-align: right;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    /* The z-index for the nav-menu is like so that it will stay on top of everything */
    z-index: 99999;
    position: fixed;
    /*the menu will come from the right*/
    right: -100%;
    top: 80px;
    gap: 3.5rem;
    background-color: #262626;
    width: 100%;
    transition: 0.3s;
    height: 100vh;
    /*have that transparent type look to it*/
    opacity: 95%;
}

.logo{
    caret-color: transparent;
    margin-left: 1rem;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 10px;
}

.logo img {
    width: 30%; 
    height: auto;
}

.site-title {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333; 
    line-height: 1.2;
}


/* .main-nav ul li a {
    color: white;
    text-decoration: none;
    position: relative;
    font-weight: 500;
    font-size: 1.1rem;
}  */
/* #main-nav ul li a:hover {
        transition: color .2s;
    } */

/* Creates a line below the links fades in at hovering and out when not */
/* #main-nav ul li a::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: white;
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .2s ease-in-out;
    }
    
    #main-nav ul li a:hover::before {
        transform-origin: left;
        transform: scaleX(1);
    }
    
    #main-nav ul li a:active {
        color: #d11322;
    } */


/** START OF HAMBURGER BUTTON FOR COLLAPSIBLE NAVBAR **/
/* Contains the actual hamburger button*/
.hamburger-btn {
    position: absolute;
    right: 1.5rem;
    cursor: pointer;
}

.bar {
    display: block;
    width: 1.8rem;
    height: .2rem;
    margin: .4em;
    border-radius: 15px;
    transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    background-color: black;
    caret-color: transparent;
}


.hamburger-btn.active .bar:nth-child(1) {
    transform-origin: bottom;
    transform: rotateZ(45deg) translateX(3px)translateY(4px);
}

.hamburger-btn.active .bar:nth-child(2) {
    opacity: 0;
}

.nav-menu.active {
    right: 0;
}

.hamburger-btn.active .bar:nth-child(3) {
    transform-origin: bottom;
    transform: rotateZ(-45deg) translateX(11px)translateY(-9.5px);
}

/** END OF HAMBURGER BUTTON FOR COLLAPSIBLE NAVBAR **/



/* .logo {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.leading-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.leading-icon-img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    padding: 10px;
    text-align: center;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.1em;
    display: block;
}

.menu ul li:hover {
    background-color: #f0f0f0;
} */

/* footer {
    height: 10em;
    width: 600px;
    background: linear-gradient(to bottom, rgba(255, 193, 204, 0.9), rgba(196, 197, 222, 0.45));
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
} */

/* .container {
    padding: 10px;
}

.search-icon {
    cursor: pointer;
    z-index: 10;
    position: relative;
    display: flex;
    align-items: center;
}

.search-bar {


    position: inherit;

    top: 50px;


    right: 2px;

    background: white;

    border-radius: 5px;

    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    width: 0;


    height: 30px;


    overflow: visible;

    opacity: 0;



}



/* When the search bar is active, expand it */

/* .search-bar.active {


    width: 200px;

    padding: 8px;

    opacity: 1;

}



.search-bar input {


    width: 95%;

    padding: 5px;

    border: 1px solid #ddd;

    border-radius: 5px;

    outline: none;

}

*/
